
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Chào bạn đến với phần mềm quản lý cửa hàng thuốc! </h2>

<div class="row">
    <div class="col-lg-12 text-center" style="padding-top: 20px">
        <img src="~/Content/img/panel.jpg" width="1400" height="700"/>
    </div>
</div>