
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Areas/ShoppingPage/Views/Shared/_LayoutClient.cshtml";
}

<div class="col-md-3">

    <div class="menu-about">
        <h3>
            <span>
                Giới thiệu
            </span>
        </h3>
        <ul>
            <li><a href="gioi-thieu/ve-chung-toi.html">Về ch&#250;ng t&#244;i</a></li>
            <li><a href="gioi-thieu/dieu-khoan-su-dung.html">Điều khoản sữ dụng</a></li>
        </ul>
    </div>
</div>
<div class="col-md-9">

    <div class="breadcrumb clearfix">
        <ul>
            <li itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" class="home">
                <a title="Đến trang chủ" href="index.html" itemprop="url"><span itemprop="title">Trang chủ</span></a>
            </li>
            <li class="icon-li"><strong>Giới thiệu</strong> </li>
        </ul>
    </div>
    <script type="text/javascript">
    $(".link-site-more").hover(function () { $(this).find(".s-c-n").show(); }, function () { $(this).find(".s-c-n").hide(); });
    </script>
    <div class="about-detail">
        <div class="about-block">
            <h1>Về ch&#250;ng t&#244;i</h1>
            <div class="content">
                <div style="margin: 0px; padding: 0px;"><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">1. Giới thiệu</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">(Thông tin chỉ mang tính chất minh họa)</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Thế Giới Nước Hoa được thành lập vào năm 2007, nhờ sự yêu mến, quan tâm của đông đảo khách hàng gần xa nên chỉ sau hơn 5 năm ra đời, Thế Giới Nước Hoa đã trở thành một địa chỉ mua sắm nước hoa, mỹ phẩm cao cấp, chính hãng quen thuộc và đáng tin cậy của khách hàng trên cả nước.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Với hệ thống 11 cửa hàng được đặt tại trung tâm các thành phố lớn, mỗi ngày thu hút gần 1500 lượt khách đến tham quan và mua sắm; website trực tuyến có hơn 6000 lượt truy cập mỗi ngày, Thế Giới Nước Hoa chính thức trở thành doanh nghiệp phân phối nước hoa và mỹ phẩm chính hãng số 1 tại Việt Nam. Không dừng lại ở đó, Thế Giới Nước Hoa còn có tham vọng vươn xa hơn nữa, nhằm mang những hương thơm quyến rũ đến với tất cả mọi người trên khắp cả nước trong thời gian sắp tới.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Hiện nay, Thế Giới Nước Hoa có hàng ngàn sản phẩm nước hoa cao cấp của hầu hết những thương hiệu thời trang trứ danh như Chanel, Christian Dior, Bvlgari, Gucci, Victoria's Secret, Lancôme, Hugo Boss…, đáp ứng đầy đủ nhu cầu sử dụng nước hoa ngày càng cao của mọi đối tượng khách hàng. Thế Giới Nước Hoa được khách hàng mệnh danh là “Thiên đường của những mùi hương” bởi những điểm ưu việt mà tại Việt Nam chưa có một địa chỉ bán nước hoa, mỹ phẩm nào sánh được: sản phẩm cực kỳ đa dạng, giá cả rất cạnh tranh, chất lượng sản phẩm đảm bảo chính hãng, đặc biệt, đội ngũ nhân viên xinh đẹp được đào tạo một cách bài bản, chuyên nghiệp, sẵn sàng phục vụ hết mình vì sự hài lòng cao nhất của khách hàng.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">2. Vì sao nên mua hàng ở Thế Giới Nước Hoa?</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">a. Sản phẩm phong phú, đa dạng</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Với hơn 1500 loại nước hoa của hầu hết các thương hiệu nổi tiếng trên thế giới đang có mặt tại Thế Giới Nước Hoa, Quý khách dễ dàng chọn được cho mình sản phẩm ưng ý nhất. Trong xu hướng lựa chọn nước hoa ngày nay, những sản phẩm mới nhất, có hương thơm tuyệt nhất, thiết kế độc đáo được mọi người đặc biệt yêu thích. Do đó, Thế Giới Nước Hoa luôn cập nhật những dòng nước hoa mới nhất trên thị trường để đáp ứng nhu cầu của Quý khách hàng.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">b. Chất lượng sản phẩm và dịch vụ tốt</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Tất cả các sản phẩm đang được bán tại Thế Giới Nước Hoa là hàng nhập khẩu chính hãng, có hóa đơn, chứng từ, trên mỗi sản phẩm đều có tem chống hàng giả. Thế Giới Nước Hoa làm yên tâm khách hàng bằng chế độ bảo hành mùi hương hợp lý, Quý khách có thể đổi hoặc trả hàng nếu thật sự không hài lòng 100% về chất lượng sản phẩm. Ngoài ra, Thế Giới Nước Hoa còn có dịch vụ gói quà và giao hàng miễn phí đến tận tay khách hàng trên toàn quốc một cách nhanh chóng nhất.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">c. Đội ngũ nhân viên với phong cách làm việc chuyên nghiệp</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Đội ngũ nhân viên bán hàng và tư vấn viên của Thế Giới Nước Hoa trẻ trung, năng động, được đào tạo bài bản với phong cách làm việc chuyên nghiệp, nhiệt tình. Nếu Quý khách lần đầu sử dụng nước hoa hoặc chưa tự tin chọn cho mình lọ nước hoa phù hợp hoặc Quý khách muốn thay đổi, làm mới bản thân bằng những mùi hương mới, nhân viên của Thế Giới Nước Hoa sẵn sàng hỗ trợ hết mình để Quý khách chọn được sản phẩm vừa ý nhất.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">d. Giá cả cạnh tranh</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Đến với Thế Giới Nước Hoa, Quý khách hàng có cơ hội lựa chọn những sản phẩm nước hoa chính hiệu với mức giá hợp lý, phù hợp với túi tiền của mọi người. Thế Giới Nước Hoa cam kết cung cấp cho Quý khách nước hoa chất lượng tốt nhất với giá cạnh tranh trên thị trường.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">e. Có hệ thống showroom để xem sản phẩm và thử mùi</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Các showroom của Thế Giới Nước Hoa được đặt tại  những con đường thời trang của trung tâm các thành phố lớn như  Tp. Hồ Chí Minh, Hà Nội, Hải Phòng, rất thuận tiện cho khách hàng đến tham quan và mua sắm. Tại đây, Quý khách hàng được tự do lựa chọn sản phẩm và thử mùi đến khi chọn được lọ nước hoa có kiểu dáng và hương thơm ưng ý nhất. Showroom mở cửa từ 8h đến 22h liên tục 7 ngày trong tuần.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">f. Đặt hàng qua website trực tuyến dễ dàng, nhanh chóng</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;"><br></span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Website chính thức của công ty  đăng tải hình ảnh, mô tả, giá cả của hàng ngàn loại nước hoa và chi tiết về hệ thống showroom của Thế Giới Nước Hoa. Chỉ với một cái click chuột vào website, Quý khách hàng dễ dàng tìm được sản phẩm mình yêu thích, biết về các loại nước hoa mới nhất trên thị trường  và đặt hàng nhanh chóng. Dù đang ở đâu, vào bất cứ lúc nào trong ngày, Quý khách cũng có thể đặt hàng và nhận hàng trong thời gian sớm nhất. Nhanh chóng, miễn phí, đáng tin cậy, đặt hàng trực tuyến là phương cách tốt nhất nếu bạn không có thời gian hoặc ở xa các cửa hàng của Thế Giới Nước Hoa.</span></div><div style="margin: 0px; padding: 0px;"><span style="color: rgb(55, 55, 55); line-height: 18px;">Bằng bản lĩnh và khát vọng xây dựng một thương hiệu Việt mang phong cách quốc tế, Thế Giới Nước Hoa đã và đang nỗ lực không ngừng để mang đến cho khách hàng những sản phẩm và chất lượng dịch vụ tốt nhất.</span></div></div>

            </div>
            <div class="social-group">
            </div>
        </div>
    </div>
</div>

